.signup-form-parent {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(113, 113, 113, .2);
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-form h2 {
    font-size: 26px;
    color: #fa6e79;
    font-weight: 600;
    padding-top: 20px;
}



.signup-form input {
    border: 1px solid rgba(113, 113, 113, .8);
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}

.signup-form button {
    color: white;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.enabled-sign-up:hover {
    background-color: #fa6e79;
}

.enabled-sign-up {
    background-color: #ffa2ac;
}

.disabled-sign-up {
    background-color: rgba(113, 113, 113, .8);
    cursor: not-allowed;
}