* {
    font-family: 'Monsterrat', sans-serif;
}

.spots-content {
    width: 100vw;
    height: 100vh;
}

.spots-grid {
    display: grid;
    margin-top: 10%;
    margin-left: 5.3%;
    margin-right: 5.3%;
    margin-bottom: 0%;
    border: 0;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 1.7vw;


}

.spot-container {
    /* display: grid; */
    /* width: 309.5px;
    height: 394.02px; */
}

.spot-link {
    text-decoration: none;
    color: #031c32;
}
.spot-image {
    width: 100%;
    /* height: 294.02px; */
    border-radius: 10px;
    height: 70%;
    padding:0;
    margin:0;
    border:0;
}

.spot-description {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
}

.spot-title {
    grid-column: 1;
    grid-row: 1;
}

.spot-price {
    grid-column: 1;
    grid-row: 2;
}

.avg-rating-container {
    grid-column: 2;
    grid-row: 1;
}