
.spots-content {
    width: 90%;
    margin: 5vh auto;
}

.spots-grid {
    display: grid;
    border: 0;
    padding: 0;
    column-gap: 25px;
    row-gap: 40px;
    width: 100vw;
    height: 100vh;
}

.spot-container {
    width: 100%;
    height: 380px;
    text-decoration: none;
    color: #222222;
    position: relative;
}

.spot-container:hover {
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: #1e1c1c;
}

.spot-image {
    width: 100%;
    border-radius: 10px;
    height: 80%;
    object-fit: cover;
}

.spot-description-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.spot-description-stats * {
    color: #222222;
    font-weight: 600;
    font-size: 16px;
}

.spot-description-price {
    padding-top: 10px;
}

.avg-rating-rating {
    color: #ffa2ac;
}

.spot-description-price > span:first-child {
    font-weight: 600;
    font-size: 14px;
    color: #717171;
}

.spot-description-price>span:last-child {
    font-weight: 400;
    font-size: 14px;
    color: #717171;
}

.avg-rating-container > span:first-child > i {
    color: #ffa2ac;
}



/* Manage Spots */
#spots-content-header {
    color: #fa6e79;
    padding-bottom: 40px;
}

.spot-btns {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    right: 0px;
    bottom: 10px;
}

.spot-btns button {
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

#spot-edit-btn {
    background-color: #ffa2ac;
}

#spot-edit-btn:hover {
    background-color: #fa6e79;
}

#spot-delete-btn {
    background-color: rgba(113, 113, 113, .5);
}

#spot-delete-btn:hover {
    background-color: rgba(113, 113, 113, 1);
}


@media (min-width: 0px) {
    .spots-grid {
        grid-template-columns: repeat(auto-fill, 310px);
    }
}

@media (min-width: 768px) {
    .spots-grid {
        grid-template-columns: repeat(auto-fill, 310px);
    }
}

@media (min-width: 960px) {
    .spots-grid {
        grid-template-columns: repeat(auto-fill, minmax(290,310px));
    }
}


@media (min-width: 1200px) {
    .spots-grid {
        grid-template-columns: repeat(auto-fill, minmax(290, 310px));
    }
}

