.hidden {
    display: none;
}

.profile-dropdown {
    border: 1px solid grey;
}


.navigation-parent {
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #1e1c1c;

}

.nav-create-spot {
    margin-right: 50px;
}
/* User profile bar */
.user-utils {
    margin: 1.5%;
}

.home {
    display: inline-block;

}

.profile-button {
    display: inline-block;
    margin-right: 20px;
}

.profile-button > button {
    display: flex;
    border-radius: 30px;
    border: 1px solid grey;
    background-color: #1e1c1c;
    margin: 0 20%;
}

.button-icon > i {
    font-size: 20px;
    color: white;
    padding: 5px;
    margin: 5px;
}

/* Dropdown */
.profile-dropdown {
    background-color: #1e1c1c;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
}
.profile-dropdown > li {
    font-size: 16px;
    padding-bottom: 3%;
    list-style-type: none;
    text-align: center;
    color: white;
    
}

.profile-dropdown>li:first-child {
    cursor: auto;
}

#manage-spots-link {
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(113, 113, 113, .5);

}

#manage-trips-link {
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(113, 113, 113, .5);

}

.profile-dropdown > li > button {
    background-color: white;
    margin: 5% 0;
    padding: 5%;
    width: 5vw;
    border-radius: 3em;
}

.profile-dropdown > ul > user-util-modals {
    cursor: pointer;
}

/* Create Spot */
.nav-create-spot {
    position: absolute;
    top: 2.3em;
    right: 7em;
    text-decoration: none;
    font-size: 80%;
    color: white;
}
/* Logo */
.logo > .logo-image > img{
    margin: 20% 20%;
    max-width: 125px;
    max-height: 100px;
}